USE [master]
GO
/****** Object:  Database [Test]    Script Date: 07/17/2023 06:03:51 PM ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test_Data', FILENAME = N'D:\SQL SEVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\Test_Data.mdf' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 3072KB )
 LOG ON 
( NAME = N'Test_Log', FILENAME = N'D:\SQL SEVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\Test_Log.ldf' , SIZE = 10240KB , MAXSIZE = 40960KB , FILEGROWTH = 3072KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  UserDefinedFunction [dbo].[f_test]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[f_test](@ngayden date, @ngaydi date) 
RETURNS int
AS 
BEGIN
	DECLARE @songay int
	IF(YEAR(@ngayden) = YEAR(@ngaydi))
	BEGIN
		SET @songay = DATEPART(DAYOFYEAR, @ngaydi) - DATEPART(DAYOFYEAR, @ngayden)
	END
	ELSE
	BEGIN
		IF(YEAR(@ngaydi) > YEAR(@ngayden))
		BEGIN
			DECLARE @sonam int
			DECLARE @lap int
			SET @lap = 1
			DECLARE @songaynamden int
			DECLARE @songaynamdi int
			DECLARE @songaynamtrunggian int
			SET @songaynamtrunggian = 0
			SET @sonam = YEAR(@ngaydi) - YEAR(@ngayden) -1
			SET @songaynamden = (DATEPART(DAYOFYEAR,CAST((YEAR(@ngayden)) as varchar(10))  +'/12/31')) - DATEPART(DAYOFYEAR, @ngayden)
			SET @songaynamdi = DATEPART(DAYOFYEAR, @ngaydi)
			WHILE(@lap <= @sonam)
			BEGIN
				SET @songaynamtrunggian += DATEPART(DAYOFYEAR,CAST((YEAR(@ngayden) +1) as varchar(10))  +'/12/31')
				SET @lap +=1
			END
			SET @songay = @songaynamden + @songaynamdi + @songaynamtrunggian
		END
	END
	RETURN @songay
END
GO
/****** Object:  Table [dbo].[HÓA ĐƠN]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HÓA ĐƠN](
	[MAHOADON] [varchar](10) NOT NULL,
	[MAPHIEUTHUE] [varchar](10) NOT NULL,
	[MAKHACHHANG] [varchar](10) NOT NULL,
	[NGAYTHANHTOAN] [date] NOT NULL,
	[TENDANGNHAP] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THỐNG KÊ]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THỐNG KÊ](
	[MAHOADON] [varchar](10) NOT NULL,
	[TONGTIEN] [money] NOT NULL,
 CONSTRAINT [pk_tk_hd] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_thongke_thang_nam]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_thongke_thang_nam]
AS
SELECT  N'Tháng ' + CAST(MONTH([NGAYTHANHTOAN]) as nvarchar(10)) AS [Tháng], MONTH([NGAYTHANHTOAN]) as [Tháng thanh toán],
YEAR([NGAYTHANHTOAN]) AS [Năm], [TONGTIEN]
FROM [HÓA ĐƠN] HD, [THỐNG KÊ] TK
WHERE HD.[MAHOADON] = TK.[MAHOADON]


GO
/****** Object:  Table [dbo].[PHIẾU THUÊ PHÒNG]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIẾU THUÊ PHÒNG](
	[MAPHIEUTHUE] [varchar](10) NOT NULL,
	[MAPHIEUDAT] [varchar](10) NOT NULL,
	[TENDANGNHAP] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI TIẾT ĐẶT PHÒNG]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI TIẾT ĐẶT PHÒNG](
	[MAPHIEUDAT] [varchar](10) NOT NULL,
	[MAPHONG] [varchar](10) NOT NULL,
 CONSTRAINT [pk_ctdp] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ptp_add_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ptp_add_maphong]
AS
	 SELECT T.[MAPHIEUTHUE], T.[MAPHIEUDAT], D.[MAPHONG], T.[TENDANGNHAP]
	 FROM [CHI TIẾT ĐẶT PHÒNG] D, [PHIẾU THUÊ PHÒNG] T
	 WHERE D.[MAPHIEUDAT] = T.[MAPHIEUDAT]
GO
/****** Object:  Table [dbo].[NHÂN VIÊN]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHÂN VIÊN](
	[MANHANVIEN] [varchar](10) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[DIACHI] [nvarchar](80) NOT NULL,
	[SODIENTHOAI] [varchar](11) NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
	[HIENTRANG] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TÀI KHOẢN HỆ THỐNG]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TÀI KHOẢN HỆ THỐNG](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MANHANVIEN] [varchar](10) NOT NULL,
	[MATKHAU] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHÁCH HÀNG]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHÁCH HÀNG](
	[MAKHACHHANG] [varchar](10) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[SOCMND-PASSPORT] [varchar](12) NOT NULL,
	[DIACHI] [nvarchar](80) NULL,
	[COQUAN] [nvarchar](80) NULL,
	[SODIENTHOAI] [varchar](11) NULL,
	[Email] [varchar](50) NULL,
	[Fax] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DỊCH VỤ]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DỊCH VỤ](
	[MADICHVU] [varchar](10) NOT NULL,
	[TENDICHVU] [nvarchar](50) NOT NULL,
	[GIADICHVU] [money] NOT NULL,
	[DONVITINH] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOẠI PHÒNG]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOẠI PHÒNG](
	[MALOAIPHONG] [varchar](10) NOT NULL,
	[GIAPHONG] [money] NOT NULL,
	[SONGUOI] [int] NOT NULL,
	[DONVITINH] [varchar](10) NOT NULL,
	[TENLOAIPHONG] [nvarchar](20) NOT NULL,
	[SONGUOILON] [int] NOT NULL,
	[SOTREEM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHÒNG]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHÒNG](
	[MAPHONG] [varchar](10) NOT NULL,
	[MALOAIPHONG] [varchar](10) NOT NULL,
	[DADAT] [bit] NULL,
	[DANHAN] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIẾU ĐẶT PHÒNG]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIẾU ĐẶT PHÒNG](
	[MAPHIEUDAT] [varchar](10) NOT NULL,
	[MAKHACHHANG] [varchar](10) NOT NULL,
	[NGAYDEN] [date] NOT NULL,
	[NGAYDI] [date] NOT NULL,
	[TIENDATCOC] [money] NOT NULL,
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[TINHTRANG] [nvarchar](30) NOT NULL,
	[SONGUOI] [int] NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[SOTREEM] [int] NOT NULL,
	[SONGUOILON] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI TIẾT THUÊ PHÒNG]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI TIẾT THUÊ PHÒNG](
	[MAPHIEUTHUE] [varchar](10) NOT NULL,
	[MADICHVU] [varchar](10) NOT NULL,
	[SOLUOTSUDUNG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_tinhtien_hoadon]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_tinhtien_hoadon]
AS
	SELECT [MAHOADON], PT.[MAPHIEUTHUE], DP.[MAKHACHHANG], KH.[TENKHACHHANG], NV.[TENNHANVIEN], DP.[NGAYDEN],
	DP.[NGAYDI],DAY([NGAYDI]) - DAY([NGAYDEN]) AS [Số Ngày], LP.[TENLOAIPHONG], LP.[GIAPHONG], 
	(DAY([NGAYDI]) - DAY([NGAYDEN])) * [GIAPHONG] AS [Tiền Phòng],
	CTTp.[MADICHVU], DV.[TENDICHVU], DV.[GIADICHVU], CTTP.[SOLUOTSUDUNG], 
	[SOLUOTSUDUNG] * [GIADICHVU] AS [Tiền Dịch Vụ],
	((DAY([NGAYDI]) - DAY([NGAYDEN])) * [GIAPHONG]) + ([SOLUOTSUDUNG] * [GIADICHVU]) AS [TONGTIEN]

	FROM [HÓA ĐƠN] HD, [CHI TIẾT THUÊ PHÒNG] CTTP,[KHÁCH HÀNG] KH, [PHIẾU THUÊ PHÒNG]PT,[PHIẾU ĐẶT PHÒNG] DP, 
	[TÀI KHOẢN HỆ THỐNG]TK,[NHÂN VIÊN] NV, [DỊCH VỤ] DV, [LOẠI PHÒNG] LP, [PHÒNG] P, [CHI TIẾT ĐẶT PHÒNG] CTDP

	WHERE HD.[MAPHIEUTHUE] = CTTP.[MAPHIEUTHUE]
	AND  PT.[MAPHIEUTHUE] = CTTP.[MAPHIEUTHUE]
	AND PT.[MAPHIEUDAT] = DP.[MAPHIEUDAT]
	AND NV.[MANHANVIEN] = TK.[MANHANVIEN]
	AND TK.[TENDANGNHAP] = DP.[TENDANGNHAP]
	AND KH.[MAKHACHHANG] = DP.[MAKHACHHANG]
	AND DV.[MADICHVU] = CTTP.[MADICHVU]
	AND P.[MAPHONG] = CTDP.[MAPHONG]
	AND CTDP.[MAPHIEUDAT] = DP.[MAPHIEUDAT]
	AND P.[MALOAIPHONG] = LP.[MALOAIPHONG]
GO
/****** Object:  View [dbo].[v_pdp_ctpdp]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_pdp_ctpdp]
AS
	SELECT PD.[MAPHIEUDAT],CT.[MAPHONG], LP.[TENLOAIPHONG],  [TENDANGNHAP], [NGAYLAP], [MAKHACHHANG], PD.[SONGUOILON], PD.[SOTREEM], PD.[SONGUOI], [NGAYDEN]
	, [NGAYDI], [TIENDATCOC], [TINHTRANG], 'USD' AS [DONVITINH]
	FROM [PHIẾU ĐẶT PHÒNG] PD, [CHI TIẾT ĐẶT PHÒNG] CT, [PHÒNG] P, [LOẠI PHÒNG] LP
	WHERE PD.[MAPHIEUDAT] = CT.[MAPHIEUDAT]
	AND P.[MALOAIPHONG] = LP.[MALOAIPHONG]
	AND P.[MAPHONG] = CT.[MAPHONG]
GO
/****** Object:  View [dbo].[v_ptp_add_maphong_danghoatdong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ptp_add_maphong_danghoatdong]
AS
	 SELECT T.[MAPHIEUTHUE], T.[MAPHIEUDAT], D.[MAPHONG], T.[TENDANGNHAP], PD.[TINHTRANG]
	 FROM [CHI TIẾT ĐẶT PHÒNG] D, [PHIẾU THUÊ PHÒNG] T, [PHIẾU ĐẶT PHÒNG] PD
	 WHERE D.[MAPHIEUDAT] = T.[MAPHIEUDAT]
	 AND PD.[MAPHIEUDAT] = D.[MAPHIEUDAT]
	 AND PD.[TINHTRANG] != N'Đã trả'

GO
/****** Object:  View [dbo].[v_tinhtrang_phong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_tinhtrang_phong]
AS
SELECT * FROM PHÒNG

GO
/****** Object:  View [dbo].[v_tinhtrang_phong_dadat]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_tinhtrang_phong_dadat]
AS
SELECT [MAPHONG], [TINHTRANG]
FROM [PHIẾU ĐẶT PHÒNG] PD, [CHI TIẾT ĐẶT PHÒNG] CT
WHERE PD.[MAPHIEUDAT] = CT.[MAPHIEUDAT]
AND [TINHTRANG] = N'Đang chờ'

GO
/****** Object:  View [dbo].[v_tinhtrang_phong_danhan]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_tinhtrang_phong_danhan]
AS
SELECT [MAPHONG], [TINHTRANG]
FROM [PHIẾU ĐẶT PHÒNG] PD, [CHI TIẾT ĐẶT PHÒNG] CT
WHERE PD.[MAPHIEUDAT] = CT.[MAPHIEUDAT]
AND [TINHTRANG] = N'Đã nhận'
GO
/****** Object:  View [dbo].[v_chitiet_nv_chua_cotk]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_chitiet_nv_chua_cotk]
AS
	SELECT NV.[MANHANVIEN], [TENNHANVIEN],[NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [CHUCVU]
	FROM [NHÂN VIÊN] AS NV, [TÀI KHOẢN HỆ THỐNG] AS TK
	WHERE NV.[MANHANVIEN] = TK.[MANHANVIEN]
	AND [MATKHAU] = ''

GO
/****** Object:  View [dbo].[v_chitiet_nv_cotk]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_chitiet_nv_cotk]
AS
	SELECT NV.[MANHANVIEN], [TENNHANVIEN],[NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [CHUCVU]
	FROM [NHÂN VIÊN] AS NV, [TÀI KHOẢN HỆ THỐNG] AS TK
	WHERE NV.[MANHANVIEN] = TK.[MANHANVIEN]
	AND [MATKHAU] != ''

GO
/****** Object:  View [dbo].[v_dangnhap]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_dangnhap]
AS
	SELECT [TENDANGNHAP], [MATKHAU], [TENNHANVIEN], [CHUCVU]
	FROM [NHÂN VIÊN] NV, [TÀI KHOẢN HỆ THỐNG] TK
	WHERE NV.[MANHANVIEN] = TK.[MANHANVIEN]
GO
/****** Object:  Table [dbo].[VẬT TƯ]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VẬT TƯ](
	[MAVATTU] [varchar](10) NOT NULL,
	[TENVATTU] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVATTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI TIẾT VẬT TƯ]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI TIẾT VẬT TƯ](
	[MAVATTU] [varchar](10) NOT NULL,
	[MALOAIPHONG] [varchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_phong_loaiphong_vattu]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_phong_loaiphong_vattu]
AS
	SELECT P.[MALOAIPHONG], LP.[TENLOAIPHONG], [MAPHONG], VT.[MAVATTU],
			VT.[TENVATTU], CT.[SOLUONG], [SONGUOI], [GIAPHONG], [DONVITINH]
	FROM [LOẠI PHÒNG] LP, [PHÒNG] P, [VẬT TƯ] VT, [CHI TIẾT VẬT TƯ] CT
	WHERE LP.[MALOAIPHONG] = P.[MALOAIPHONG]
	AND LP.[MALOAIPHONG] = CT.[MALOAIPHONG]
	AND VT.[MAVATTU] = CT.[MAVATTU]
GO
/****** Object:  View [dbo].[v_loaiphong_phong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_loaiphong_phong]
AS
	SELECT LP.[MALOAIPHONG],[MAPHONG], [TENLOAIPHONG], [SONGUOI], [GIAPHONG], [DONVITINH]
	FROM [LOẠI PHÒNG] LP,  [PHÒNG] P
	WHERE LP.[MALOAIPHONG] = P.[MALOAIPHONG]
GO
/****** Object:  View [dbo].[v_loaiphong_vattu]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_loaiphong_vattu]
AS
	SELECT LP.[MALOAIPHONG],  VT.[MAVATTU], VT.[TENVATTU], CT.[SOLUONG]
	FROM [LOẠI PHÒNG] LP,  [VẬT TƯ] VT, [CHI TIẾT VẬT TƯ] CT
	WHERE LP.[MALOAIPHONG] = CT.[MALOAIPHONG]
	AND VT.[MAVATTU] = CT.[MAVATTU]
GO
/****** Object:  View [dbo].[v_vt]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_vt]
AS
SELECT [MALOAIPHONG], V.[MAVATTU], [TENVATTU], [SOLUONG]
FROM [VẬT TƯ] V, [CHI TIẾT VẬT TƯ] CT
WHERE V.[MAVATTU] = CT.[MAVATTU]
GO
/****** Object:  View [dbo].[v_check_phong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_check_phong]
AS
	SELECT P.[MAPHONG], [TENLOAIPHONG], LP.[SONGUOI], [NGAYDEN], [NGAYDI], [GIAPHONG], [DONVITINH]
	FROM [LOẠI PHÒNG] LP, [PHÒNG] P, [PHIẾU ĐẶT PHÒNG] DP, [CHI TIẾT ĐẶT PHÒNG] CT
	WHERE LP.[MALOAIPHONG] = P.[MALOAIPHONG]
	AND P.[MAPHONG] = CT.[MAPHONG]
	AND CT.[MAPHIEUDAT] = DP.[MAPHIEUDAT]
GO
/****** Object:  View [dbo].[v_dsphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_dsphong]
AS
	SELECT P.[MAPHONG], [TENLOAIPHONG], LP.[SONGUOILON], LP.[SOTREEM], LP.[SONGUOI], [GIAPHONG], [DONVITINH], [DADAT], [DANHAN]
	FROM [LOẠI PHÒNG] LP, [PHÒNG] P
	WHERE LP.[MALOAIPHONG] = P.[MALOAIPHONG]

GO
/****** Object:  View [dbo].[v_timphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_timphong]
AS
	SELECT P.[MAPHONG], LP.[TENLOAIPHONG],LP.[SONGUOILON] ,LP.[SOTREEM], LP.[SONGUOI], LP.[GIAPHONG], LP.[DONVITINH], 
			PD.[NGAYDEN], PD.[NGAYDI], PD.[TINHTRANG]
	FROM [PHÒNG] P, [LOẠI PHÒNG] LP, [PHIẾU ĐẶT PHÒNG] PD, [CHI TIẾT ĐẶT PHÒNG] CT
	WHERE P.[MALOAIPHONG] = LP.[MALOAIPHONG]
	AND P.[MAPHONG] = CT.[MAPHONG]
	AND CT.[MAPHIEUDAT] = PD.[MAPHIEUDAT]

GO
/****** Object:  View [dbo].[v_thongke_loaiphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_thongke_loaiphong]
AS
	SELECT [TENLOAIPHONG],MONTH([NGAYTHANHTOAN]) AS [Tháng], [TONGTIEN]
	FROM [PHIẾU THUÊ PHÒNG] PT, [CHI TIẾT ĐẶT PHÒNG] CT, [HÓA ĐƠN] HD, [THỐNG KÊ] TK, [PHÒNG] P, [LOẠI PHÒNG] LP
	WHERE PT.[MAPHIEUDAT] = CT.[MAPHIEUDAT]
	AND PT.[MAPHIEUTHUE] = HD.[MAPHIEUTHUE]
	AND HD.[MAHOADON] = TK.[MAHOADON]
	AND P.[MAPHONG] = CT.[MAPHONG]
	AND P.[MALOAIPHONG] = LP.[MALOAIPHONG]
GO
/****** Object:  Table [dbo].[LỊCH SỬ ĐĂNG NHẬP]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LỊCH SỬ ĐĂNG NHẬP](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[THOIGIANDANGNHAP] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRẠNG THÁI PHÒNG]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRẠNG THÁI PHÒNG](
	[MAPHONG] [varchar](10) NOT NULL,
	[TRANGTHAI] [nvarchar](10) NOT NULL,
 CONSTRAINT [pk_ttp] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHI TIẾT ĐẶT PHÒNG] ([MAPHIEUDAT], [MAPHONG]) VALUES (N'PDP000001', N'KSA306')
INSERT [dbo].[CHI TIẾT ĐẶT PHÒNG] ([MAPHIEUDAT], [MAPHONG]) VALUES (N'PDP000002', N'KSA403')
INSERT [dbo].[CHI TIẾT ĐẶT PHÒNG] ([MAPHIEUDAT], [MAPHONG]) VALUES (N'PDP000003', N'KSA205')
GO
INSERT [dbo].[CHI TIẾT THUÊ PHÒNG] ([MAPHIEUTHUE], [MADICHVU], [SOLUOTSUDUNG]) VALUES (N'PNP000001', N'DV001', 0)
INSERT [dbo].[CHI TIẾT THUÊ PHÒNG] ([MAPHIEUTHUE], [MADICHVU], [SOLUOTSUDUNG]) VALUES (N'PNP000001', N'DV003', 1)
INSERT [dbo].[CHI TIẾT THUÊ PHÒNG] ([MAPHIEUTHUE], [MADICHVU], [SOLUOTSUDUNG]) VALUES (N'PNP000001', N'DV002', 1)
GO
INSERT [dbo].[CHI TIẾT VẬT TƯ] ([MAVATTU], [MALOAIPHONG], [SOLUONG]) VALUES (N'VT001', N'LP1', 5)
INSERT [dbo].[CHI TIẾT VẬT TƯ] ([MAVATTU], [MALOAIPHONG], [SOLUONG]) VALUES (N'VT002', N'LP1', 5)
INSERT [dbo].[CHI TIẾT VẬT TƯ] ([MAVATTU], [MALOAIPHONG], [SOLUONG]) VALUES (N'VT001', N'LP2', 2)
GO
INSERT [dbo].[DỊCH VỤ] ([MADICHVU], [TENDICHVU], [GIADICHVU], [DONVITINH]) VALUES (N'DV001', N'Giặt là/Giặt khô', 30.0000, N'USD       ')
INSERT [dbo].[DỊCH VỤ] ([MADICHVU], [TENDICHVU], [GIADICHVU], [DONVITINH]) VALUES (N'DV002', N'Đưa đón ra sân bay', 79.0000, N'USD       ')
INSERT [dbo].[DỊCH VỤ] ([MADICHVU], [TENDICHVU], [GIADICHVU], [DONVITINH]) VALUES (N'DV003', N'Bữa sáng', 20.0000, N'USD       ')
GO
INSERT [dbo].[HÓA ĐƠN] ([MAHOADON], [MAPHIEUTHUE], [MAKHACHHANG], [NGAYTHANHTOAN], [TENDANGNHAP]) VALUES (N'HD000001', N'PNP000001', N'KH000001', CAST(N'2023-05-01' AS Date), N'Admin')
INSERT [dbo].[HÓA ĐƠN] ([MAHOADON], [MAPHIEUTHUE], [MAKHACHHANG], [NGAYTHANHTOAN], [TENDANGNHAP]) VALUES (N'HD000002', N'PNP000003', N'KH000002', CAST(N'2023-05-05' AS Date), N'Admin')
INSERT [dbo].[HÓA ĐƠN] ([MAHOADON], [MAPHIEUTHUE], [MAKHACHHANG], [NGAYTHANHTOAN], [TENDANGNHAP]) VALUES (N'HD000003', N'PNP000004', N'KH000004', CAST(N'2023-05-10' AS Date), N'Admin')
GO
INSERT [dbo].[KHÁCH HÀNG] ([MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [SOCMND-PASSPORT], [DIACHI], [COQUAN], [SODIENTHOAI], [Email], [Fax]) VALUES (N'KH000001', N'A Lu', N'Nam', N'00223456789', N'Tây Bắc', N'SaPaTV', N'0978741526', N'', N'')
INSERT [dbo].[KHÁCH HÀNG] ([MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [SOCMND-PASSPORT], [DIACHI], [COQUAN], [SODIENTHOAI], [Email], [Fax]) VALUES (N'KH000002', N'A', N'Nữ', N'001234567898', N'', N'', N'', N'', N'')
INSERT [dbo].[KHÁCH HÀNG] ([MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [SOCMND-PASSPORT], [DIACHI], [COQUAN], [SODIENTHOAI], [Email], [Fax]) VALUES (N'KH000003', N'B', N'Nam', N'001256546258', N'', N'', N'0987654321', N'', N'')
GO
INSERT [dbo].[LỊCH SỬ ĐĂNG NHẬP] ([TENDANGNHAP], [TENNHANVIEN], [THOIGIANDANGNHAP]) VALUES (N'Admin', N'Nguyễn Văn Tuấn', CAST(N'2017-09-12T00:00:00.000' AS DateTime))
INSERT [dbo].[LỊCH SỬ ĐĂNG NHẬP] ([TENDANGNHAP], [TENNHANVIEN], [THOIGIANDANGNHAP]) VALUES (N'NV005', N'Hoàng Văn Hiếu', CAST(N'2017-09-12T00:00:00.000' AS DateTime))
INSERT [dbo].[LỊCH SỬ ĐĂNG NHẬP] ([TENDANGNHAP], [TENNHANVIEN], [THOIGIANDANGNHAP]) VALUES (N'Admin', N'Nguyễn Văn Tuấn', CAST(N'2023-06-14T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[LOẠI PHÒNG] ([MALOAIPHONG], [GIAPHONG], [SONGUOI], [DONVITINH], [TENLOAIPHONG], [SONGUOILON], [SOTREEM]) VALUES (N'LP1', 136.8000, 4, N'USD', N'Phòng đơn', 1, 3)
INSERT [dbo].[LOẠI PHÒNG] ([MALOAIPHONG], [GIAPHONG], [SONGUOI], [DONVITINH], [TENLOAIPHONG], [SONGUOILON], [SOTREEM]) VALUES (N'LP2', 161.7000, 5, N'USD', N'Phòng đôi', 2, 3)
INSERT [dbo].[LOẠI PHÒNG] ([MALOAIPHONG], [GIAPHONG], [SONGUOI], [DONVITINH], [TENLOAIPHONG], [SONGUOILON], [SOTREEM]) VALUES (N'LP3', 227.1000, 5, N'USD', N'Phòng thượng hạng', 2, 3)
GO
INSERT [dbo].[NHÂN VIÊN] ([MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [CHUCVU], [HIENTRANG]) VALUES (N'NV001', N'Đào Quang Huy', CAST(N'2002-11-26' AS Date), N'Nam', N'Sơn Tây Hà Nội', N'01648246376', N'Admin', N'Đang làm')
INSERT [dbo].[NHÂN VIÊN] ([MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [CHUCVU], [HIENTRANG]) VALUES (N'NV002', N'Lê Văn Trường', CAST(N'1995-11-23' AS Date), N'Nam', N'Hà Nội', N'01645763547', N'Quản lý', N'Nghỉ việc')
INSERT [dbo].[NHÂN VIÊN] ([MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [CHUCVU], [HIENTRANG]) VALUES (N'NV003', N'Nguyễn Văn A', CAST(N'1999-01-01' AS Date), N'Nam', N'HN', N'0123456789', N'Nhân viên', N'Nghỉ việc')
GO
INSERT [dbo].[PHIẾU ĐẶT PHÒNG] ([MAPHIEUDAT], [MAKHACHHANG], [NGAYDEN], [NGAYDI], [TIENDATCOC], [TENDANGNHAP], [TINHTRANG], [SONGUOI], [NGAYLAP], [SOTREEM], [SONGUOILON]) VALUES (N'PDP000001', N'KH000001', CAST(N'2023-06-23' AS Date), CAST(N'2023-06-25' AS Date), 70.0000, N'Admin', N'Đã trả', 2, CAST(N'2023-06-22' AS Date), 0, 2)
INSERT [dbo].[PHIẾU ĐẶT PHÒNG] ([MAPHIEUDAT], [MAKHACHHANG], [NGAYDEN], [NGAYDI], [TIENDATCOC], [TENDANGNHAP], [TINHTRANG], [SONGUOI], [NGAYLAP], [SOTREEM], [SONGUOILON]) VALUES (N'PDP000002', N'KH000002', CAST(N'2023-07-06' AS Date), CAST(N'2023-07-14' AS Date), 70.0000, N'Admin', N'Đã trả', 2, CAST(N'2023-07-05' AS Date), 0, 2)
INSERT [dbo].[PHIẾU ĐẶT PHÒNG] ([MAPHIEUDAT], [MAKHACHHANG], [NGAYDEN], [NGAYDI], [TIENDATCOC], [TENDANGNHAP], [TINHTRANG], [SONGUOI], [NGAYLAP], [SOTREEM], [SONGUOILON]) VALUES (N'PDP000003', N'KH000003', CAST(N'2023-07-08' AS Date), CAST(N'2023-07-10' AS Date), 70.0000, N'Admin', N'Đã trả', 2, CAST(N'2023-07-06' AS Date), 0, 2)
GO
INSERT [dbo].[PHIẾU THUÊ PHÒNG] ([MAPHIEUTHUE], [MAPHIEUDAT], [TENDANGNHAP]) VALUES (N'PNP000001', N'PDP000001', N'Admin')
INSERT [dbo].[PHIẾU THUÊ PHÒNG] ([MAPHIEUTHUE], [MAPHIEUDAT], [TENDANGNHAP]) VALUES (N'PNP000002', N'PDP000003', N'Admin')
INSERT [dbo].[PHIẾU THUÊ PHÒNG] ([MAPHIEUTHUE], [MAPHIEUDAT], [TENDANGNHAP]) VALUES (N'PNP000003', N'PDP000002', N'Admin')
GO
INSERT [dbo].[PHÒNG] ([MAPHONG], [MALOAIPHONG], [DADAT], [DANHAN]) VALUES (N'KSA205', N'LP2', 0, 0)
INSERT [dbo].[PHÒNG] ([MAPHONG], [MALOAIPHONG], [DADAT], [DANHAN]) VALUES (N'KSA301', N'LP2', 0, 0)
INSERT [dbo].[PHÒNG] ([MAPHONG], [MALOAIPHONG], [DADAT], [DANHAN]) VALUES (N'KSA302', N'LP3', 0, 0)
GO
INSERT [dbo].[TÀI KHOẢN HỆ THỐNG] ([TENDANGNHAP], [MANHANVIEN], [MATKHAU]) VALUES (N'Admin', N'NV001', N'21232F297A57A5A743894A0E4A801FC3')
INSERT [dbo].[TÀI KHOẢN HỆ THỐNG] ([TENDANGNHAP], [MANHANVIEN], [MATKHAU]) VALUES (N'NV002', N'NV002', N'')
INSERT [dbo].[TÀI KHOẢN HỆ THỐNG] ([TENDANGNHAP], [MANHANVIEN], [MATKHAU]) VALUES (N'NV003', N'NV003', N'')
GO
INSERT [dbo].[THỐNG KÊ] ([MAHOADON], [TONGTIEN]) VALUES (N'HD000001', 352.4000)
INSERT [dbo].[THỐNG KÊ] ([MAHOADON], [TONGTIEN]) VALUES (N'HD000002', 1243.6000)
INSERT [dbo].[THỐNG KÊ] ([MAHOADON], [TONGTIEN]) VALUES (N'HD000003', 490.4600)
GO
INSERT [dbo].[VẬT TƯ] ([MAVATTU], [TENVATTU]) VALUES (N'VT001', N'Bàn')
INSERT [dbo].[VẬT TƯ] ([MAVATTU], [TENVATTU]) VALUES (N'VT002', N'Ghế')
INSERT [dbo].[VẬT TƯ] ([MAVATTU], [TENVATTU]) VALUES (N'VT003', N'Tivi')
GO
ALTER TABLE [dbo].[CHI TIẾT ĐẶT PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_ctdp_p] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHÒNG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CHI TIẾT ĐẶT PHÒNG] CHECK CONSTRAINT [fk_ctdp_p]
GO
ALTER TABLE [dbo].[CHI TIẾT ĐẶT PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_ctdp_pdp] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIẾU ĐẶT PHÒNG] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[CHI TIẾT ĐẶT PHÒNG] CHECK CONSTRAINT [fk_ctdp_pdp]
GO
ALTER TABLE [dbo].[CHI TIẾT THUÊ PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_cttp_dv] FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DỊCH VỤ] ([MADICHVU])
GO
ALTER TABLE [dbo].[CHI TIẾT THUÊ PHÒNG] CHECK CONSTRAINT [fk_cttp_dv]
GO
ALTER TABLE [dbo].[CHI TIẾT THUÊ PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_cttp_ptp] FOREIGN KEY([MAPHIEUTHUE])
REFERENCES [dbo].[PHIẾU THUÊ PHÒNG] ([MAPHIEUTHUE])
GO
ALTER TABLE [dbo].[CHI TIẾT THUÊ PHÒNG] CHECK CONSTRAINT [fk_cttp_ptp]
GO
ALTER TABLE [dbo].[CHI TIẾT VẬT TƯ]  WITH CHECK ADD  CONSTRAINT [fk_ctvt_lp] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOẠI PHÒNG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[CHI TIẾT VẬT TƯ] CHECK CONSTRAINT [fk_ctvt_lp]
GO
ALTER TABLE [dbo].[CHI TIẾT VẬT TƯ]  WITH CHECK ADD  CONSTRAINT [fk_ctvt_vt] FOREIGN KEY([MAVATTU])
REFERENCES [dbo].[VẬT TƯ] ([MAVATTU])
GO
ALTER TABLE [dbo].[CHI TIẾT VẬT TƯ] CHECK CONSTRAINT [fk_ctvt_vt]
GO
ALTER TABLE [dbo].[HÓA ĐƠN]  WITH CHECK ADD  CONSTRAINT [fk_hd_kh] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHÁCH HÀNG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HÓA ĐƠN] CHECK CONSTRAINT [fk_hd_kh]
GO
ALTER TABLE [dbo].[HÓA ĐƠN]  WITH CHECK ADD  CONSTRAINT [fk_hd_ptp] FOREIGN KEY([MAPHIEUTHUE])
REFERENCES [dbo].[PHIẾU THUÊ PHÒNG] ([MAPHIEUTHUE])
GO
ALTER TABLE [dbo].[HÓA ĐƠN] CHECK CONSTRAINT [fk_hd_ptp]
GO
ALTER TABLE [dbo].[HÓA ĐƠN]  WITH CHECK ADD  CONSTRAINT [fk_hd_tkht] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TÀI KHOẢN HỆ THỐNG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[HÓA ĐƠN] CHECK CONSTRAINT [fk_hd_tkht]
GO
ALTER TABLE [dbo].[LỊCH SỬ ĐĂNG NHẬP]  WITH CHECK ADD  CONSTRAINT [fk_lsdn_tkht] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TÀI KHOẢN HỆ THỐNG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[LỊCH SỬ ĐĂNG NHẬP] CHECK CONSTRAINT [fk_lsdn_tkht]
GO
ALTER TABLE [dbo].[PHIẾU ĐẶT PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_pdp_kh] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHÁCH HÀNG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[PHIẾU ĐẶT PHÒNG] CHECK CONSTRAINT [fk_pdp_kh]
GO
ALTER TABLE [dbo].[PHIẾU ĐẶT PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_pdp_tkht] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TÀI KHOẢN HỆ THỐNG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[PHIẾU ĐẶT PHÒNG] CHECK CONSTRAINT [fk_pdp_tkht]
GO
ALTER TABLE [dbo].[PHIẾU THUÊ PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_ptp_pdp] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIẾU ĐẶT PHÒNG] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[PHIẾU THUÊ PHÒNG] CHECK CONSTRAINT [fk_ptp_pdp]
GO
ALTER TABLE [dbo].[PHIẾU THUÊ PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_ptp_tkht] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TÀI KHOẢN HỆ THỐNG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[PHIẾU THUÊ PHÒNG] CHECK CONSTRAINT [fk_ptp_tkht]
GO
ALTER TABLE [dbo].[PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_p_lp] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOẠI PHÒNG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[PHÒNG] CHECK CONSTRAINT [fk_p_lp]
GO
ALTER TABLE [dbo].[TÀI KHOẢN HỆ THỐNG]  WITH CHECK ADD  CONSTRAINT [fk_tkht_nv] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHÂN VIÊN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TÀI KHOẢN HỆ THỐNG] CHECK CONSTRAINT [fk_tkht_nv]
GO
ALTER TABLE [dbo].[THỐNG KÊ]  WITH CHECK ADD  CONSTRAINT [fk_tk_hd] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HÓA ĐƠN] ([MAHOADON])
GO
ALTER TABLE [dbo].[THỐNG KÊ] CHECK CONSTRAINT [fk_tk_hd]
GO
ALTER TABLE [dbo].[TRẠNG THÁI PHÒNG]  WITH CHECK ADD  CONSTRAINT [fk_ttp_p] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHÒNG] ([MAPHONG])
GO
ALTER TABLE [dbo].[TRẠNG THÁI PHÒNG] CHECK CONSTRAINT [fk_ttp_p]
GO
/****** Object:  StoredProcedure [dbo].[sp_backup_database]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_backup_database]
@tenCSDL varchar(50),
@duongDan varchar(100)
AS
BEGIN
	BACKUP DATABASE @tenCSDL 
	TO DISK = @duongDan 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_capnhat_tinhtrangphong_dd]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_capnhat_tinhtrangphong_dd]
AS
BEGIN
	UPDATE [PHÒNG] SET [DADAT]= 1, [DANHAN]= 0
	WHERE  [MAPHONG] IN (SELECT [MAPHONG] FROM v_tinhtrang_phong_dadat)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_capnhat_tinhtrangphong_dn]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_capnhat_tinhtrangphong_dn]
AS
BEGIN
	UPDATE [PHÒNG] SET [DADAT]= 1, [DANHAN]= 1
	WHERE  [MAPHONG] IN (SELECT [MAPHONG] FROM v_tinhtrang_phong_danhan)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_capnhat_tinhtrangphong_rr]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_capnhat_tinhtrangphong_rr]
AS
BEGIN
	UPDATE [PHÒNG] SET [DADAT]= 0, [DANHAN]= 0
	WHERE  [MAPHONG] IN (SELECT [MAPHONG] FROM v_tinhtrang_phong)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_check_nam]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[sp_check_nam]
  @namDen int,
  @namDi int
  AS
  BEGIN
	SELECT * FROM v_timphong WHERE [TINHTRANG] != N'Đã trả' 
	AND (YEAR([NGAYDEN]) >@namDi OR YEAR([NGAYDI]) < @namDen)
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_check_ngay]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROC [dbo].[sp_check_ngay]
  @ngayDen int,
  @ngayDi int
  AS
  BEGIN
	SELECT * FROM [PHIẾU ĐẶT PHÒNG] WHERE DAY([NGAYDEN]) >@ngayDi OR DAY([NGAYDI]) < @ngayDen
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_check_phieudat]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_check_phieudat]
@homnay date
AS
BEGIN
	SELECT * FROM v_pdp_ctpdp 
	where [TINHTRANG] = N'Đang chờ'
	and [NGAYDEN] = @homnay
END
GO
/****** Object:  StoredProcedure [dbo].[sp_check_thang]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROC [dbo].[sp_check_thang]
  @thangDen int,
  @thangDi int
  AS
  BEGIN
	SELECT * FROM [PHIẾU ĐẶT PHÒNG] WHERE MONTH([NGAYDEN]) >@thangDi OR MONTH([NGAYDI]) < @thangDen
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietdatphong_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_chitietdatphong_delete]
@maPD varchar(10)
AS
BEGIN
	DELETE FROM [CHI TIẾT ĐẶT PHÒNG] WHERE [MAPHIEUDAT] = @maPD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietdatphong_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----insert

CREATE PROC [dbo].[sp_chitietdatphong_insert]
@maPD varchar(10),
@maP varchar(10)
AS
BEGIN
	INSERT INTO [CHI TIẾT ĐẶT PHÒNG] ([MAPHIEUDAT], [MAPHONG]) 
	VALUES (@maPD, @maP)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietdatphong_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietdatphong_select_all]
AS
BEGIN
	SELECT * FROM [CHI TIẾT ĐẶT PHÒNG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietdatphong_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_chitietdatphong_select_by_id]
@maPD varchar(10)
AS
BEGIN
	SELECT * FROM  [CHI TIẾT ĐẶT PHÒNG]
	WHERE [MAPHIEUDAT] = @maPD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietdatphong_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_chitietdatphong_update]
@maPD varchar(10),
@maP varchar(10)
AS
BEGIN
	UPDATE [CHI TIẾT ĐẶT PHÒNG] SET [MAPHONG]= @maP
	WHERE  [MAPHIEUDAT] = @maPD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietthuephong_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietthuephong_delete]
@maptp varchar(10)
AS
BEGIN
	DELETE FROM [CHI TIẾT THUÊ PHÒNG]
	WHERE [MAPHIEUTHUE] = @maptp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietthuephong_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietthuephong_insert]
@maptp varchar(10),
@madv varchar(10),
@lansd int
AS
BEGIN
	INSERT INTO [CHI TIẾT THUÊ PHÒNG] ([MAPHIEUTHUE], [MADICHVU], [SOLUOTSUDUNG])
	VALUES (@maptp, @madv, @lansd)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietthuephong_khoitao_luotdung]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietthuephong_khoitao_luotdung]
@maptp varchar(10),
@madv varchar(10)
AS
BEGIN
	INSERT INTO [CHI TIẾT THUÊ PHÒNG] ([MAPHIEUTHUE], [MADICHVU], [SOLUOTSUDUNG])
	VALUES (@maptp, @madv, '0')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietthuephong_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietthuephong_select_all]
@maptp varchar(10)
AS
BEGIN
	SELECT * FROM [CHI TIẾT THUÊ PHÒNG]
	WHERE [MAPHIEUTHUE] = @maptp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietthuephong_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_chitietthuephong_select_by_id]
@maPT varchar(10)
AS
BEGIN
	SELECT * FROM  [CHI TIẾT THUÊ PHÒNG]
	WHERE [MAPHIEUTHUE] = @maPT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietthuephong_select_by_maphieu_and_madv]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietthuephong_select_by_maphieu_and_madv]
@maptp varchar(10),
@madv varchar(10)
AS
BEGIN
	SELECT * FROM [CHI TIẾT THUÊ PHÒNG]
	WHERE [MAPHIEUTHUE] = @maptp
	AND [MADICHVU] = @madv
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietthuephong_update_luotdung]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietthuephong_update_luotdung]
@maptp varchar(10),
@madv varchar(10)
AS
BEGIN
	UPDATE [CHI TIẾT THUÊ PHÒNG]
	SET [SOLUOTSUDUNG] = [SOLUOTSUDUNG] +1
	WHERE [MAPHIEUTHUE] = @maptp
	AND [MADICHVU] = @madv
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietthuephong_update_xoa_luotdung]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietthuephong_update_xoa_luotdung]
@maptp varchar(10),
@madv varchar(10)
AS
BEGIN
	UPDATE [CHI TIẾT THUÊ PHÒNG]
	SET [SOLUOTSUDUNG] = [SOLUOTSUDUNG] -1
	WHERE [MAPHIEUTHUE] = @maptp
	AND [MADICHVU] = @madv
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietthuephong_xoa_sudungdv]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietthuephong_xoa_sudungdv]
@maptp varchar(10),
@madv varchar(10)
AS
BEGIN
	DELETE FROM [CHI TIẾT THUÊ PHÒNG]
	WHERE [MAPHIEUTHUE] = @maptp
	AND [MADICHVU] = @madv
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietvattu]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietvattu]
@maVT varchar(10),
@maLP varchar(10)
AS
BEGIN
	SELECT * FROM [CHI TIẾT VẬT TƯ]
	WHERE [MAVATTU] = @maVT 
	AND [MALOAIPHONG]= @maLP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietvattu_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietvattu_delete]
@maVT varchar(10),
@maLP varchar(10)
AS
BEGIN
	DELETE FROM [CHI TIẾT VẬT TƯ] WHERE [MAVATTU] = @maVT AND [MALOAIPHONG] = @maLP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietvattu_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----insert

CREATE PROC [dbo].[sp_chitietvattu_insert]
@maVT varchar(10),
@maLP varchar(10),
@sl int
AS
BEGIN
	INSERT INTO [CHI TIẾT VẬT TƯ] ([MAVATTU], [MALOAIPHONG], [SOLUONG])
	VALUES (@maVT, @maLP, @sl)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietvattu_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chitietvattu_select_all]
AS
BEGIN
	SELECT * FROM [CHI TIẾT VẬT TƯ]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietvattu_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_chitietvattu_select_by_id]
@maVT varchar(10)
AS
BEGIN
	SELECT * FROM  [CHI TIẾT VẬT TƯ]
	WHERE [MAVATTU] = @maVT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chitietvattu_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_chitietvattu_update]
@maVT varchar(10),
@maLP varchar(10),
@sl int
AS
BEGIN
	UPDATE [CHI TIẾT VẬT TƯ] SET [MALOAIPHONG] = @maLP, [SOLUONG]= @sl
	WHERE  [MAVATTU] = @maVT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chuacotaikhoan_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chuacotaikhoan_select_all]
AS
BEGIN
	SELECT NV.[MANHANVIEN], [TENNHANVIEN],[NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [CHUCVU]
	FROM [NHÂN VIÊN] AS NV, [TÀI KHOẢN HỆ THỐNG] AS TK
	WHERE NV.[MANHANVIEN] = TK.[MANHANVIEN]
	AND [MATKHAU] = ''
	AND [HIENTRANG] = N'Đang làm'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cotaikhoan_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_cotaikhoan_select_all]
AS
BEGIN
	SELECT NV.[MANHANVIEN], [TENNHANVIEN],[NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [CHUCVU]
	FROM [NHÂN VIÊN] AS NV, [TÀI KHOẢN HỆ THỐNG] AS TK
	WHERE NV.[MANHANVIEN] = TK.[MANHANVIEN]
	AND [MATKHAU] != ''
	AND [HIENTRANG] = N'Đang làm'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_ctpdp_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_delete_ctpdp_by_maphong]
@map varchar(10)
AS
DELETE FROM [CHI TIẾT ĐẶT PHÒNG] WHERE [MAPHONG] = @map
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_ctptp_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_delete_ctptp_by_maphong]
@map varchar(10)
AS
BEGIN
DELETE FROM [CHI TIẾT THUÊ PHÒNG]
WHERE [MAPHIEUTHUE] IN (SELECT [MAPHIEUTHUE] FROM [PHIẾU THUÊ PHÒNG]
						WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
												FROM [CHI TIẾT ĐẶT PHÒNG] 
												WHERE [MAPHONG] = @map))
END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_ctvt_by_mavt]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_delete_ctvt_by_mavt]
@mavt varchar(10)
AS
DELETE FROM [CHI TIẾT VẬT TƯ] 
WHERE [MAVATTU] = @mavt
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_hd_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_delete_hd_by_maphong]
@map varchar(10)
AS
BEGIN
DELETE FROM [HÓA ĐƠN]
WHERE [MAPHIEUTHUE] IN (SELECT [MAPHIEUTHUE] FROM [PHIẾU THUÊ PHÒNG]
						WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
												FROM [CHI TIẾT ĐẶT PHÒNG] 
												WHERE [MAPHONG] = @map))
END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_pdp_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_delete_pdp_by_maphong]
@map varchar(10)
AS
BEGIN
DELETE FROM [PHIẾU ĐẶT PHÒNG]
WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
						FROM [CHI TIẾT ĐẶT PHÒNG] 
						WHERE [MAPHONG] = @map)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_ptp_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_delete_ptp_by_maphong]
@map varchar(10)
AS
BEGIN
DELETE FROM [PHIẾU THUÊ PHÒNG]
WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
						FROM [CHI TIẾT ĐẶT PHÒNG] 
						WHERE [MAPHONG] = @map)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_tk_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_delete_tk_by_maphong]
@map varchar(10)
AS
BEGIN
DELETE FROM [THỐNG KÊ]
WHERE [MAHOADON] IN (SELECT [MAHOADON] FROM [HÓA ĐƠN] 
					WHERE [MAPHIEUTHUE] IN (SELECT [MAPHIEUTHUE] FROM [PHIẾU THUÊ PHÒNG]
												WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
																		FROM [CHI TIẾT ĐẶT PHÒNG] 
																		WHERE [MAPHONG] = @map)))
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dichvu_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_dichvu_delete]
@maDV varchar(10)
AS
BEGIN
	DELETE FROM [Dịch Vụ] WHERE [MADICHVU] = @maDV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dichvu_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----insert

CREATE PROC [dbo].[sp_dichvu_insert]
@maDV varchar(10),
@tenDV nvarchar(50),
@giaDV money,
@dvitinh nchar(10)
AS
BEGIN
	INSERT INTO [DỊCH VỤ] ( [MADICHVU], [TENDICHVU], [GIADICHVU] ,[DONVITINH])
	VALUES (@maDV, @tenDV,@giaDV, @dvitinh)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dichvu_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select all
CREATE PROC [dbo].[sp_dichvu_select_all]
AS
BEGIN
	SELECT * FROM [DỊCH VỤ]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dichvu_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_dichvu_select_by_id]
@maDV varchar(10)
AS
BEGIN
	SELECT * FROM  [DỊCH VỤ]
	WHERE [MADICHVU] = @maDV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dichvu_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_dichvu_update]
@maDV varchar(10),
@tenDV nvarchar(50),
@giaDV money,
@dvitinh nchar(10)
AS
BEGIN
	UPDATE [Dịch Vụ] SET [TENDICHVU] = @tenDV,[GIADICHVU]= @giaDv, [DONVITINH] = @dvitinh
	WHERE  [MADICHVU] = @maDV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_doimatkhau]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROC đổi mật khẩu
CREATE PROC [dbo].[sp_doimatkhau]
@tenDN varchar(10),
@matKhau varchar(100)
AS
BEGIN
	UPDATE [TÀI KHOẢN HỆ THỐNG] SET [MATKHAU] = @matKhau
	WHERE [TENDANGNHAP] = @tenDN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dsphong_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_dsphong_select_all]
AS
SELECT * FROM v_dsphong
ORDER BY [MAPHONG]
GO
/****** Object:  StoredProcedure [dbo].[sp_hoadon_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_hoadon_delete]
@mahd varchar(10)
AS
BEGIN
	DELETE FROM [HÓA ĐƠN] WHERE [MAHOADON]= @mahd
END
GO
/****** Object:  StoredProcedure [dbo].[sp_hoadon_in]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_hoadon_in]
@maPT varchar(10)
AS
BEGIN
	
	SELECT [MAHOADON],PT.[MAPHIEUTHUE],  KH.[TENKHACHHANG], NV.[TENNHANVIEN], DP.[NGAYDEN],
	DP.[NGAYDI],[dbo].[f_test]([NGAYDEN], [NGAYDI]) AS [Số Ngày], LP.[TENLOAIPHONG], LP.[GIAPHONG], 
	[dbo].[f_test]([NGAYDEN], [NGAYDI]) * [GIAPHONG] AS [Tiền Phòng], DV.[TENDICHVU], DV.[GIADICHVU], CTTP.[SOLUOTSUDUNG], 
	[SOLUOTSUDUNG] * [GIADICHVU] AS [Tiền Dịch Vụ],
	([dbo].[f_test]([NGAYDEN], [NGAYDI]) * [GIAPHONG]) + ([SOLUOTSUDUNG] * [GIADICHVU]) AS [Tổng Tiền HD]

	FROM [HÓA ĐƠN] HD, [CHI TIẾT THUÊ PHÒNG] CTTP,[KHÁCH HÀNG] KH, [PHIẾU THUÊ PHÒNG]PT,[PHIẾU ĐẶT PHÒNG] DP, 
	[TÀI KHOẢN HỆ THỐNG]TK,[NHÂN VIÊN] NV, [DỊCH VỤ] DV, [LOẠI PHÒNG] LP, [PHÒNG] P, [CHI TIẾT ĐẶT PHÒNG] CTDP

	WHERE HD.[MAPHIEUTHUE] = CTTP.[MAPHIEUTHUE]
	AND  PT.[MAPHIEUTHUE] = CTTP.[MAPHIEUTHUE]
	AND PT.[MAPHIEUDAT] = DP.[MAPHIEUDAT]
	AND NV.[MANHANVIEN] = TK.[MANHANVIEN]
	AND TK.[TENDANGNHAP] = DP.[TENDANGNHAP]
	AND KH.[MAKHACHHANG] = DP.[MAKHACHHANG]
	AND DV.[MADICHVU] = CTTP.[MADICHVU]
	AND P.[MAPHONG] = CTDP.[MAPHONG]
	AND CTDP.[MAPHIEUDAT] = DP.[MAPHIEUDAT]
	AND P.[MALOAIPHONG] = LP.[MALOAIPHONG]
	And PT.[MAPHIEUTHUE] = @maPT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_hoadon_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_hoadon_insert]
@mahd varchar(10),
@maptp varchar(10),
@makh varchar(10),
@ngaytra date,
@nhanvien varchar(10)
AS
BEGIN
	INSERT INTO [HÓA ĐƠN] ([MAHOADON], [MAPHIEUTHUE], [MAKHACHHANG], [NGAYTHANHTOAN], [TENDANGNHAP])
	VALUES (@mahd, @maptp, @makh, @ngaytra,@nhanvien)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_hoadon_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_hoadon_select_all]
AS
BEGIN
	--SELECT *
	--FROM [HÓA ĐƠN]
	SELECT H.[MAHOADON],H.[MAPHIEUTHUE], H.[MAKHACHHANG], H.[NGAYTHANHTOAN],TK.[TENDANGNHAP], NV.[TENNHANVIEN] ,T.[TONGTIEN]
FROM [HÓA ĐƠN] H
JOIN [THỐNG KÊ] T ON H.[MAHOADON] = T.[MAHOADON]
JOIN [TÀI KHOẢN HỆ THỐNG] TK ON H.[TENDANGNHAP] = TK.[TENDANGNHAP]
JOIN [NHÂN VIÊN] NV ON TK.[MANHANVIEN] = NV.[MANHANVIEN]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_hoadon_select_by_makh]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_hoadon_select_by_makh]
@makh varchar(10)
AS
BEGIN
	SELECT * FROM [HÓA ĐƠN]
	WHERE [MAKHACHHANG]= @makh
END
GO
/****** Object:  StoredProcedure [dbo].[sp_hoadon_select_by_maptp]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_hoadon_select_by_maptp]
@mapt varchar(10)
AS
BEGIN
	SELECT * FROM [HÓA ĐƠN]
	WHERE [MAPHIEUTHUE] = @mapt
END
GO
/****** Object:  StoredProcedure [dbo].[sp_hoadon_select_ngay]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_hoadon_select_ngay]
@checkIn date, @checkOut date

AS
BEGIN
	--SELECT *
	--FROM [HÓA ĐƠN] And SELECT [TONGTIEN] from [THỐNG KÊ]
	--WHERE NGAYTHANHTOAN >= @checkIn AND NGAYTHANHTOAN <= @checkOut
	SELECT H.[MAHOADON],H.[MAPHIEUTHUE], H.[MAKHACHHANG], H.[NGAYTHANHTOAN],TK.[TENDANGNHAP], NV.[TENNHANVIEN] ,T.[TONGTIEN]
FROM [HÓA ĐƠN] H
JOIN [THỐNG KÊ] T ON H.[MAHOADON] = T.[MAHOADON]
JOIN [TÀI KHOẢN HỆ THỐNG] TK ON H.[TENDANGNHAP] = TK.[TENDANGNHAP]
JOIN [NHÂN VIÊN] NV ON TK.[MANHANVIEN] = NV.[MANHANVIEN]
WHERE H.NGAYTHANHTOAN >= @checkIn AND H.NGAYTHANHTOAN <= @checkOut


END
GO
/****** Object:  StoredProcedure [dbo].[sp_huy_phieu_datphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_huy_phieu_datphong]
@homnay date
AS
BEGIN
UPDATE [PHIẾU ĐẶT PHÒNG]
SET [TINHTRANG] = N'Đã hủy' 
WHERE [TINHTRANG] = N'Đang chờ'
AND [NGAYDEN] = @homnay
END
GO
/****** Object:  StoredProcedure [dbo].[sp_khachhang_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_khachhang_delete]
@maKH varchar(10)
AS
BEGIN
	DELETE FROM [KHÁCH HÀNG] WHERE [MAKHACHHANG] = @maKH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_khachhang_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----insert

CREATE PROC [dbo].[sp_khachhang_insert]
@maKH varchar(10),
@tenKH nvarchar(50),
@gioiTinh nvarchar(5),
@soCMND varchar(12),
@diaChi nvarchar(80),
@coQuan nvarchar(80),
@sdt varchar(11),
@email varchar(50),
@fax varchar(20)
AS
BEGIN
	INSERT INTO [KHÁCH HÀNG] ( [MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [SOCMND-PASSPORT], [DIACHI], [COQUAN], [SODIENTHOAI], [Email], [Fax])
	VALUES (@maKH, @tenKH, @gioiTinh, @soCMND, @diaChi, @coQuan, @sdt, @email, @fax)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_khachhang_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----select all
CREATE PROC [dbo].[sp_khachhang_select_all]
AS
BEGIN
	SELECT * FROM [KHÁCH HÀNG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_khachhang_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_khachhang_select_by_id]
@maKH varchar(10) --để ý kiểu dữ liệu phải trùng với bảng đã tạo trước đó của thuộc tính tương ứng
AS
BEGIN
	SELECT * FROM [KHÁCH HÀNG]
	WHERE [MAKHACHHANG] = @maKH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_khachhang_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_khachhang_update]
@maKH varchar(10),
@tenKH nvarchar(50),
@gioiTinh nvarchar(5),
@soCMND varchar(12),
@diaChi nvarchar(80),
@coQuan nvarchar(80),
@sdt varchar(11),
@email varchar(50),
@fax varchar(20)
AS
BEGIN
	UPDATE [KHÁCH HÀNG] SET [TENKHACHHANG] = @tenKH, [GIOITINH] = @gioiTinh, [SOCMND-PASSPORT] = @soCMND, 
							[DIACHI] = @diaChi, [COQUAN] = @coQuan, [SODIENTHOAI] = @sdt, [Email] = @email, [Fax] = @fax
	WHERE  [MAKHACHHANG] = @maKH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtra]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROC [dbo].[sp_kiemtra]
  @namDen int,
  @namDi int,
  @thangDen int,
  @thangDi int,
  @ngayDen int,
  @ngayDi int
  AS
  BEGIN
	SELECT * FROM v_timphong 
	WHERE [TINHTRANG] != N'Đã trả' 
	AND( 
		YEAR([NGAYDEN]) >@namDi 
		OR YEAR([NGAYDI]) < @namDen
		OR (
			YEAR([NGAYDI]) = @namDen
			AND (
				MONTH([NGAYDI]) < @thangDen
				OR (
					MONTH([NGAYDI]) = @thangDen
					AND (
							DAY([NGAYDI]) < @ngayDen
						)
					)
				)
			)
		OR(
			 @namDi = YEAR([NGAYDEN])
			 AND (
				MONTH([NGAYDEN]) > @thangDi
				OR (
					MONTH([NGAYDEN]) = @thangDi
					AND (
							DAY([NGAYDEN]) > @ngayDi
						)
					)
				)
			)
				
		)
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtra_khachhang]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_kiemtra_khachhang]
@socmnd varchar(12)
AS
BEGIN
	SELECT * FROM [KHÁCH HÀNG]
	WHERE [SOCMND-PASSPORT] = @socmnd
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtra_pdd]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_kiemtra_pdd]
  @namDen int,
  @namDi int,
  @thangDen int,
  @thangDi int,
  @ngayDen int,
  @ngayDi int
  AS
  BEGIN
	SELECT * FROM v_timphong 
	WHERE [TINHTRANG] != N'Đã trả'
	AND [TINHTRANG] = N'Đang chờ'
	AND( 
		YEAR([NGAYDEN]) >@namDi 
		OR YEAR([NGAYDI]) < @namDen
		OR (
			YEAR([NGAYDI]) = @namDen
			AND (
				MONTH([NGAYDI]) < @thangDen
				OR (
					MONTH([NGAYDI]) = @thangDen
					AND (
							DAY([NGAYDI]) < @ngayDen
						)
					)
				)
			)
		OR(
			 @namDi = YEAR([NGAYDEN])
			 AND (
				MONTH([NGAYDEN]) > @thangDi
				OR (
					MONTH([NGAYDEN]) = @thangDi
					AND (
							DAY([NGAYDEN]) > @ngayDi
						)
					)
				)
			)
				
		)
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtra_pdd_theolp]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_kiemtra_pdd_theolp]
  @namDen int,
  @namDi int,
  @thangDen int,
  @thangDi int,
  @ngayDen int,
  @ngayDi int,
  @tenLP nvarchar(20)

  AS
  BEGIN
	SELECT * FROM v_timphong 
	WHERE [TINHTRANG] != N'Đã trả'
	AND [TINHTRANG] = N'Đang chờ'
	AND [TENLOAIPHONG] = @tenLP
	AND( 
		YEAR([NGAYDEN]) >@namDi 
		OR YEAR([NGAYDI]) < @namDen
		OR (
			YEAR([NGAYDI]) = @namDen
			AND (
				MONTH([NGAYDI]) < @thangDen
				OR (
					MONTH([NGAYDI]) = @thangDen
					AND (
							DAY([NGAYDI]) < @ngayDen
						)
					)
				)
			)
		OR(
			 @namDi = YEAR([NGAYDEN])
			 AND (
				MONTH([NGAYDEN]) > @thangDi
				OR (
					MONTH([NGAYDEN]) = @thangDi
					AND (
							DAY([NGAYDEN]) > @ngayDi
						)
					)
				)
			)
				
		)
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtra_pdn]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_kiemtra_pdn]
  @namDen int,
  @namDi int,
  @thangDen int,
  @thangDi int,
  @ngayDen int,
  @ngayDi int
  AS
  BEGIN
	SELECT * FROM v_timphong 
	WHERE [TINHTRANG] != N'Đã trả'
	AND [TINHTRANG] = N'Đã nhận'
	AND( 
		YEAR([NGAYDEN]) >@namDi 
		OR YEAR([NGAYDI]) < @namDen
		OR (
			YEAR([NGAYDI]) = @namDen
			AND (
				MONTH([NGAYDI]) < @thangDen
				OR (
					MONTH([NGAYDI]) = @thangDen
					AND (
							DAY([NGAYDI]) < @ngayDen
						)
					)
				)
			)
		OR(
			 @namDi = YEAR([NGAYDEN])
			 AND (
				MONTH([NGAYDEN]) > @thangDi
				OR (
					MONTH([NGAYDEN]) = @thangDi
					AND (
							DAY([NGAYDEN]) > @ngayDi
						)
					)
				)
			)
				
		)
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtra_pdn_theolp]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_kiemtra_pdn_theolp]
  @namDen int,
  @namDi int,
  @thangDen int,
  @thangDi int,
  @ngayDen int,
  @ngayDi int,
  @tenLP nvarchar(20)

  AS
  BEGIN
	SELECT * FROM v_timphong 
	WHERE [TINHTRANG] != N'Đã trả'
	AND [TINHTRANG] = N'Đã nhận'
	AND [TENLOAIPHONG] = @tenLP
	AND( 
		YEAR([NGAYDEN]) >@namDi 
		OR YEAR([NGAYDI]) < @namDen
		OR (
			YEAR([NGAYDI]) = @namDen
			AND (
				MONTH([NGAYDI]) < @thangDen
				OR (
					MONTH([NGAYDI]) = @thangDen
					AND (
							DAY([NGAYDI]) < @ngayDen
						)
					)
				)
			)
		OR(
			 @namDi = YEAR([NGAYDEN])
			 AND (
				MONTH([NGAYDEN]) > @thangDi
				OR (
					MONTH([NGAYDEN]) = @thangDi
					AND (
							DAY([NGAYDEN]) > @ngayDi
						)
					)
				)
			)
				
		)
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtra_theolp_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_kiemtra_theolp_maphong]
  @namDen int,
  @namDi int,
  @thangDen int,
  @thangDi int,
  @ngayDen int,
  @ngayDi int,
  @maP varchar(10)

  AS
  BEGIN
	SELECT * FROM v_timphong 
	WHERE [TINHTRANG] != N'Đã trả'
	AND [MAPHONG] = @maP
	AND( 
		YEAR([NGAYDEN]) >@namDi 
		OR YEAR([NGAYDI]) < @namDen
		OR (
			YEAR([NGAYDI]) = @namDen
			AND (
				MONTH([NGAYDI]) < @thangDen
				OR (
					MONTH([NGAYDI]) = @thangDen
					AND (
							DAY([NGAYDI]) < @ngayDen
						)
					)
				)
			)
		OR(
			 @namDi = YEAR([NGAYDEN])
			 AND (
				MONTH([NGAYDEN]) > @thangDi
				OR (
					MONTH([NGAYDEN]) = @thangDi
					AND (
							DAY([NGAYDEN]) > @ngayDi
						)
					)
				)
			)
				
		)
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_lichsudangnhap_delete_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lichsudangnhap_delete_all]
AS
BEGIN
	DELETE FROM [LỊCH SỬ ĐĂNG NHẬP]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lichsudangnhap_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lichsudangnhap_insert]
@tendn nvarchar(10),
@tennv nvarchar(50),
@tgian datetime
AS
BEGIN
	INSERT INTO [LỊCH SỬ ĐĂNG NHẬP] ([TENDANGNHAP], [TENNHANVIEN], [THOIGIANDANGNHAP])
	VALUES (@tendn, @tennv, @tgian)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lichsudangnhap_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lichsudangnhap_select_all]
AS
BEGIN
	SELECT * FROM [LỊCH SỬ ĐĂNG NHẬP]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_load_mpd_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_load_mpd_by_maphong]
@map varchar(10)
AS
SELECT * FROM [CHI TIẾT ĐẶT PHÒNG] WHERE [MAPHONG] = @map
GO
/****** Object:  StoredProcedure [dbo].[sp_loadmakhach_from_phieuthue]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_loadmakhach_from_phieuthue]
@maptp varchar(10)
AS
BEGIN
SELECT [MAKHACHHANG]
FROM [PHIẾU THUÊ PHÒNG] pt, [PHIẾU ĐẶT PHÒNG] pd
WHERE pt.[MAPHIEUDAT] = pd.[MAPHIEUDAT]
AND [MAPHIEUTHUE] = @maptp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loaiphong_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_loaiphong_delete]
@maLP varchar(10)
AS
BEGIN
	DELETE FROM [Loại Phòng] WHERE [MALOAIPHONG] = @maLP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loaiphong_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----insert

CREATE PROC [dbo].[sp_loaiphong_insert]
@maLP varchar(10),
@giaP money,
@songuoi int
AS
BEGIN
	INSERT INTO [LOẠI PHÒNG] ( [MALOAIPHONG], [GIAPHONG], [SONGUOI])
	VALUES (@maLP, @giaP,@songuoi)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loaiphong_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select all
CREATE PROC [dbo].[sp_loaiphong_select_all]
AS
BEGIN
	SELECT * FROM [LOẠI PHÒNG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loaiphong_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_loaiphong_select_by_id]
@maLP varchar(10)
AS
BEGIN
	SELECT * FROM  [LOẠI PHÒNG]
	WHERE [MALOAIPHONG] = @maLP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loaiphong_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_loaiphong_update]
@maLP varchar(10),
@giaP money,
@songuoi int
AS
BEGIN
	UPDATE [LOẠI PHÒNG] SET [GIAPHONG] = @giaP , [SONGUOI]= @songuoi
	WHERE  [MALOAIPHONG] = @maLP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_login]
@tenDN varchar(10),
@matKhau varchar(100)
AS
BEGIN
	SELECT * FROM v_dangnhap 
	WHERE [TENDANGNHAP] = @tenDN 
	AND [MATKHAU] = @matKhau
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lp_p_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lp_p_select_all]
AS
BEGIN
SELECT * FROM v_loaiphong_phong
order by [MAPHONG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lp_p_select_pdoi]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lp_p_select_pdoi]
AS
BEGIN
SELECT * FROM v_loaiphong_phong
WHERE [MALOAIPHONG] = 'LP2'
order by [MAPHONG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lp_p_select_pdon]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lp_p_select_pdon]
AS
BEGIN
SELECT * FROM v_loaiphong_phong
WHERE [MALOAIPHONG] = 'LP1'
order by [MAPHONG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lp_p_select_pth]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lp_p_select_pth]
AS
BEGIN
SELECT * FROM v_loaiphong_phong
WHERE [MALOAIPHONG] = 'LP3'
order by [MAPHONG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lpvt_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lpvt_select_all]
AS
BEGIN
	SELECT * from v_loaiphong_vattu
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lpvt_select_pdoi]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lpvt_select_pdoi]
AS
BEGIN
	SELECT * from v_loaiphong_vattu
	WHERE [MALOAIPHONG] = 'LP2'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lpvt_select_pdon]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lpvt_select_pdon]
AS
BEGIN
	SELECT * from v_loaiphong_vattu
	WHERE [MALOAIPHONG] = 'LP1'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lpvt_select_pth]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lpvt_select_pth]
AS
BEGIN
	SELECT * from v_loaiphong_vattu
	WHERE [MALOAIPHONG] = 'LP3'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvien_danglam]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_nhanvien_danglam]
AS
SELECT * FROM [NHÂN VIÊN]
Where [HIENTRANG] = N'Đang Làm'
GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvien_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_nhanvien_delete]
@maNV varchar(10)
AS
BEGIN
	DELETE FROM [NHÂN VIÊN] WHERE [MANHANVIEN] = @maNV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvien_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_nhanvien_insert]
@maNV varchar(10),
@tenNV nvarchar(50),
@ngaysinh date,
@gioitinh nvarchar(5),
@diachi nvarchar(80),
@sdt varchar(11),
@chucvu nvarchar(50)
AS
BEGIN
	INSERT INTO [NHÂN VIÊN] ( [MANHANVIEN], [TENNHANVIEN], [NGAYSINH] ,[GIOITINH], [DIACHI], [SODIENTHOAI],[CHUCVU], [HIENTRANG])
	VALUES (@maNV, @tenNV,@ngaysinh, @gioiTinh, @diachi, @sdt, @chucvu, N'Đang làm')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvien_nghiviec]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_nhanvien_nghiviec]
AS
SELECT * FROM [NHÂN VIÊN]
Where [HIENTRANG] = N'Nghỉ việc'
GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvien_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select all
CREATE PROC [dbo].[sp_nhanvien_select_all]
AS
BEGIN
	SELECT * FROM [NHÂN VIÊN]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvien_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_nhanvien_select_by_id]
@maNV varchar(10)
AS
BEGIN
	SELECT * FROM [NHÂN VIÊN]
	WHERE [MANHANVIEN] = @maNV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvien_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_nhanvien_update]
@maNV varchar(10),
@tenNV nvarchar(50),
@ngaysinh date,
@gioitinh nvarchar(5),
@diachi nvarchar(80),
@sdt varchar(11),
@chucvu nvarchar(50)
AS
BEGIN
	UPDATE [NHÂN VIÊN] SET [TENNHANVIEN] = @tenNV,[NGAYSINH]= @ngaysinh, [GIOITINH] = @gioitinh, 
							[DIACHI] = @diachi,[SODIENTHOAI] = @sdt, [CHUCVU]= @chucvu, [HIENTRANG] = N'Đang làm'
	WHERE  [MANHANVIEN] = @maNV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvien_xin_nghiviec]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_nhanvien_xin_nghiviec]
@manv varchar(10)
AS
	UPDATE [NHÂN VIÊN] SET [HIENTRANG] = N'Nghỉ việc'
	WHERE [MANHANVIEN] = @manv
GO
/****** Object:  StoredProcedure [dbo].[sp_phieudatphong_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieudatphong_all]
AS
BEGIN
	SELECT * FROM v_pdp_ctpdp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieudatphong_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_phieudatphong_delete]
@maPD varchar(10)
AS
BEGIN
	DELETE FROM [PHIẾU ĐẶT PHÒNG] WHERE [MAPHIEUDAT] = @maPD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieudatphong_delete_by_makh]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieudatphong_delete_by_makh]
@makh varchar(10)
AS
BEGIN
	DELETe FROM [PHIẾU ĐẶT PHÒNG]
	WHERE [MAKHACHHANG] = @makh
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieudatphong_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieudatphong_insert]
@maPD varchar(10),
@maKH varchar(10),
@ngayden date,
@ngaydi date,
@tiendatcoc money,
@tendnhap varchar(10),
@tinhtrang nvarchar(30),
@songuoi int,
@ngayLap date,
@songuoilon int,
@sotreem int
AS
BEGIN
	INSERT INTO [PHIẾU ĐẶT PHÒNG] ([MAPHIEUDAT], [MAKHACHHANG], [NGAYDEN],[NGAYDI], 
[TIENDATCOC],[TENDANGNHAP],[TINHTRANG],[SONGUOI], [NGAYLAP],[SOTREEM], [SONGUOILON]) 
	VALUES (@maPD, @maKH, @ngayden, @ngaydi, @tiendatcoc, @tendnhap, @tinhtrang, @songuoi, @ngayLap, @sotreem, @songuoilon)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieudatphong_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieudatphong_select_all]
AS
BEGIN
	SELECT * FROM v_pdp_ctpdp where [TINHTRANG] != N'Đã trả' and [TINHTRANG] != N'Đã hủy'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieudatphong_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieudatphong_select_by_id]
@maPD varchar(10)
AS
BEGIN
	SELECT * FROM  [PHIẾU ĐẶT PHÒNG]
	WHERE [MAPHIEUDAT] = @maPD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieudatphong_select_by_makh]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieudatphong_select_by_makh]
@maKH varchar(10)
AS
BEGIN
	SELECT * FROM  [PHIẾU ĐẶT PHÒNG]
	WHERE [MAKHACHHANG] = @maKH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieudatphong_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieudatphong_update]
@maPD varchar(10),
@maKH varchar(10),
@ngayden date,
@ngaydi date,
@tiendatcoc money,
@tendnhap varchar(10),
@tinhtrang nvarchar(30),
@songuoi int,
@ngayLap date,
@songuoilon int,
@sotreem int
AS
BEGIN
	UPDATE [PHIẾU ĐẶT PHÒNG] SET [MAKHACHHANG]= @maKH, 
 [NGAYDEN]= @ngayden ,[NGAYDI]= @ngaydi, [TIENDATCOC]= @tiendatcoc,
[TENDANGNHAP]= @tendnhap,[TINHTRANG]= @tinhtrang ,[SONGUOI]= @songuoi , [NGAYLAP] = @ngayLap, [SONGUOILON] = @songuoilon, [SOTREEM] = @sotreem
	WHERE  [MAPHIEUDAT] = @maPD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieuthuephong_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_phieuthuephong_delete]
@maPT varchar(10)
AS
BEGIN
	DELETE FROM [PHIẾU THUÊ PHÒNG] WHERE [MAPHIEUTHUE] = @maPT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieuthuephong_delete_by_mapdp]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieuthuephong_delete_by_mapdp]
@mapd varchar(10)
AS
BEGIN
	DELETE FROM [PHIẾU THUÊ PHÒNG] WHERE [MAPHIEUDAT]= @mapd
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieuthuephong_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieuthuephong_insert]
@maPT varchar(10),
@maPD varchar(10),
@tendnhap varchar(10)
AS
BEGIN
	INSERT INTO [PHIẾU THUÊ PHÒNG] ([MAPHIEUTHUE], [MAPHIEUDAT], [TENDANGNHAP])
	VALUES (@maPT, @maPD, @tendnhap)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieuthuephong_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Bảng PHIẾU THUÊ PHÒNG
CREATE PROC [dbo].[sp_phieuthuephong_select_all]
AS
BEGIN
	SELECT * FROM [PHIẾU THUÊ PHÒNG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieuthuephong_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_phieuthuephong_select_by_id]
@maPT varchar(10)
AS
BEGIN
	SELECT * FROM  [PHIẾU THUÊ PHÒNG]
	WHERE [MAPHIEUTHUE] = @maPT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieuthuephong_select_by_mapdp]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phieuthuephong_select_by_mapdp]
@mapd varchar(10)
AS
BEGIN
	SELECT * FROM  [PHIẾU THUÊ PHÒNG]
	WHERE [MAPHIEUDAT] = @mapd
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phieuthuephong_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_phieuthuephong_update]
@maPT varchar(10),
@maPD varchar(10),
@tendnhap varchar(10)
AS
BEGIN
	UPDATE [PHIẾU THUÊ PHÒNG] SET [MAPHIEUDAT] = @maPD, [TENDANGNHAP]= @Tendnhap
	WHERE  [MAPHIEUTHUE] = @maPT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_dangcho]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phong_dangcho]
AS
BEGIN
	SELECT * FROM v_timphong
	WHERE [TINHTRANG] = N'Đang chờ'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_danhan]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phong_danhan]
AS
BEGIN
	SELECT * FROM v_timphong
	WHERE [TINHTRANG] = N'Đã nhận'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_phong_delete]
@maP varchar(10)
AS
BEGIN
	DELETE FROM [Phòng] WHERE [MAPHONG] = @maP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phong_insert]
@maP varchar(10),
@maLP varchar(10),
@dadat bit,
@danhan bit
AS
BEGIN
	INSERT INTO [PHÒNG] ([MAPHONG], [MALOAIPHONG], [DADAT], [DANHAN])
	VALUES (@maP, @maLP, @dadat ,@danhan)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_ranhroi]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phong_ranhroi]
AS
BEGIN
	SELECT P.[MAPHONG], [TENLOAIPHONG],[SONGUOILON],[SOTREEM], [SONGUOI], [GIAPHONG], [DONVITINH],'' as [NGAYDEN], '' as [NGAYDI], N'Rảnh rỗi' as [TINHTRANG]
	FROM [PHÒNG] P, [LOẠI PHÒNG] LP
	WHERE P.[MALOAIPHONG] = LP.[MALOAIPHONG]
	
	AND [MAPHONG] NOT IN (SELECT [MAPHONG] FROM v_timphong WHERE [TINHTRANG] != N'Đã trả' AND [TINHTRANG] != N'Đã hủy')
	ORDER BY [MAPHONG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_ranhroi_theolp]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phong_ranhroi_theolp]
@tenLP nvarchar(30)
AS
BEGIN
SELECT P.[MAPHONG], [TENLOAIPHONG],[SONGUOILON],[SOTREEM],[SONGUOI], [GIAPHONG], [DONVITINH],'' as [NGAYDEN], '' as [NGAYDI], N'Rảnh rỗi' as [TINHTRANG]
	FROM [PHÒNG] P, [LOẠI PHÒNG] LP
	WHERE P.[MALOAIPHONG] = LP.[MALOAIPHONG]
	AND [MAPHONG] NOT IN (SELECT [MAPHONG] FROM v_timphong WHERE [TINHTRANG] != N'Đã trả' AND [TINHTRANG] != N'Đã hủy')
	AND [TENLOAIPHONG] = @tenLP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_ranhroi_theomp]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phong_ranhroi_theomp]
@maP varchar(10)
AS
BEGIN
SELECT P.[MAPHONG], [TENLOAIPHONG], [SONGUOI], [GIAPHONG], [DONVITINH],'' as [NGAYDEN], '' as [NGAYDI], N'Rảnh rỗi' as [TINHTRANG]
	FROM [PHÒNG] P, [LOẠI PHÒNG] LP
	WHERE P.[MALOAIPHONG] = LP.[MALOAIPHONG]
	AND P.[MAPHONG] = @maP
	AND [MAPHONG] NOT IN (SELECT [MAPHONG] FROM v_timphong WHERE [TINHTRANG] != N'Đã trả')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_phong_select_all]
AS
BEGIN
	SELECT * FROM [PHÒNG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_phong_select_by_id]
@maP varchar(10)
AS
BEGIN
	SELECT * FROM  [PHÒNG]
	WHERE [MAPHONG] = @maP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_phong_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_phong_update]
@maP varchar(10),
@maLP varchar(10),
@dadat bit,
@danhan bit
AS
BEGIN
	UPDATE [PHÒNG] SET [MALOAIPHONG] = @maLP , [DADAT]= @dadat, [DANHAN]= @danhan
	WHERE  [MAPHONG] = @maP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_plpvt_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_plpvt_select_all]
AS
BEGIN
	SELECT * from v_phong_loaiphong_vattu
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ptp_add_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_ptp_add_maphong]
AS
BEGIN
	SELECT * FROM v_ptp_add_maphong
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ptp_add_maphong_danghoatdong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ptp_add_maphong_danghoatdong]
AS
BEGIN
	SELECT * FROM v_ptp_add_maphong_danghoatdong
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_ctpdp_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_select_ctpdp_by_maphong]
@map varchar(10)
AS
SELECT * FROM [CHI TIẾT ĐẶT PHÒNG] WHERE [MAPHONG] = @map
GO
/****** Object:  StoredProcedure [dbo].[sp_select_ctptp_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_select_ctptp_by_maphong]
@map varchar(10)
AS
BEGIN
SELECT * FROM [CHI TIẾT THUÊ PHÒNG]
WHERE [MAPHIEUTHUE] IN (SELECT [MAPHIEUTHUE] FROM [PHIẾU THUÊ PHÒNG]
						WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
												FROM [CHI TIẾT ĐẶT PHÒNG] 
												WHERE [MAPHONG] = @map))
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_ctvt_by_mavt]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_select_ctvt_by_mavt]
@mavt varchar(10)
AS
SELECT * FROM [CHI TIẾT VẬT TƯ] 
WHERE [MAVATTU] = @mavt
GO
/****** Object:  StoredProcedure [dbo].[sp_select_hd_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_select_hd_by_maphong]
@map varchar(10)
AS
BEGIN
SELECT * FROM [HÓA ĐƠN]
WHERE [MAPHIEUTHUE] IN (SELECT [MAPHIEUTHUE] FROM [PHIẾU THUÊ PHÒNG]
						WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
												FROM [CHI TIẾT ĐẶT PHÒNG] 
												WHERE [MAPHONG] = @map))
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_pdp_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_select_pdp_by_maphong]
@map varchar(10)
AS
BEGIN
SELECT * FROM [PHIẾU ĐẶT PHÒNG]
WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
						FROM [CHI TIẾT ĐẶT PHÒNG] 
						WHERE [MAPHONG] = @map)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_select_ptp_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_select_ptp_by_maphong]
@map varchar(10)
AS
BEGIN
SELECT * FROM [PHIẾU THUÊ PHÒNG]
WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
						FROM [CHI TIẾT ĐẶT PHÒNG] 
						WHERE [MAPHONG] = @map)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_tk_by_maphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_select_tk_by_maphong]
@map varchar(10)
AS
BEGIN
SELECT * FROM [THỐNG KÊ]
WHERE [MAHOADON] IN (SELECT [MAHOADON] FROM [HÓA ĐƠN] 
					WHERE [MAPHIEUTHUE] IN (SELECT [MAPHIEUTHUE] FROM [PHIẾU THUÊ PHÒNG]
												WHERE [MAPHIEUDAT] IN (SELECT [MAPHIEUDAT] 
																		FROM [CHI TIẾT ĐẶT PHÒNG] 
																		WHERE [MAPHONG] = @map)))
END
GO
/****** Object:  StoredProcedure [dbo].[sp_taikhoanhethong_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_taikhoanhethong_delete]
@tendnhap varchar(10)
AS
BEGIN
	DELETE FROM [TÀI KHOẢN HỆ THỐNG]  WHERE [TENDANGNHAP] = @tendnhap
END
GO
/****** Object:  StoredProcedure [dbo].[sp_taikhoanhethong_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----insert

CREATE PROC [dbo].[sp_taikhoanhethong_insert]
@tendnhap varchar(10),
@maNV varchar(10),
@pass varchar(100)
AS
BEGIN
	INSERT INTO [TÀI KHOẢN HỆ THỐNG] ( [TENDANGNHAP], [MANHANVIEN], [MATKHAU])
	VALUES (@tendnhap, @maNV,@pass)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_taikhoanhethong_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_taikhoanhethong_select_all]
AS
BEGIN
	SELECT * FROM [TÀI KHOẢN HỆ THỐNG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_taikhoanhethong_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_taikhoanhethong_select_by_id]
@tendnhap varchar(10)
AS
BEGIN
	SELECT * FROM [TÀI KHOẢN HỆ THỐNG]
	WHERE [TENDANGNHAP] = @tendnhap
END
GO
/****** Object:  StoredProcedure [dbo].[sp_taikhoanhethong_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_taikhoanhethong_update]
@tendnhap varchar(10),
@maNV varchar(10),
@pass varchar(100)
AS
BEGIN
	UPDATE [TÀI KHOẢN HỆ THỐNG]  SET [MANHANVIEN]  = @maNV,[MATKHAU]= @pass
	WHERE [TENDANGNHAP] = @tendnhap
END
GO
/****** Object:  StoredProcedure [dbo].[sp_themphieudat_zezo]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_themphieudat_zezo]
@maKH varchar(10),
@tenKH nvarchar(50),
@gioiTinh nvarchar(5),
@cmnd varchar(12),
@diaChi nvarchar(80),
@coQuan nvarchar(80),
@sdt varchar(11),
@email varchar(50),
@fax varchar(20),

@maPD varchar(10),
@ngayLap date,
@ngayDen date,
@ngayDi date,
@tienCoc money,
@tenDangNhap varchar(10),
@soNguoi int,
@tinhTrang nvarchar(30),

@maPhong varchar(10)

AS
BEGIN
	INSERT INTO [KHÁCH HÀNG] ( [MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [SOCMND-PASSPORT], [DIACHI], [COQUAN], [SODIENTHOAI], [Email], [Fax])
	VALUES (@maKH, @tenKH, @gioiTinh, @cmnd, @diaChi, @coQuan, @sdt, @email, @fax)
	INSERT INTO [PHIẾU ĐẶT PHÒNG] ([MAPHIEUDAT], [MAKHACHHANG], [NGAYDEN],[NGAYDI], [TIENDATCOC],[TENDANGNHAP],[TINHTRANG],[SONGUOI], [NGAYLAP] ) 
	VALUES (@maPD, @maKH, @ngayDen, @ngayDi, @tienCoc, @tenDangNhap, @tinhTrang, @soNguoi, @ngayLap)
	INSERT INTO [CHI TIẾT ĐẶT PHÒNG] ([MAPHIEUDAT], [MAPHONG]) 
	VALUES (@maPD, @maPhong)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_delete]
@mahd varchar(10)
AS
BEGIN
	DELETE FROM [THỐNG KÊ]
	WHERE [MAHOADON] = @mahd
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_insert]
@mahd varchar(10),
@tongtien money
AS
BEGIN
	INSERT INTO [THỐNG KÊ] ([MAHOADON], [TONGTIEN])
	VALUES (@mahd, @tongtien)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_loaiphong_thangtruoc]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_loaiphong_thangtruoc]
AS
BEGIN
	SELECT [TENLOAIPHONG], SUM([TONGTIEN]) AS [TONGTIEN]
	FROM v_thongke_loaiphong
	WHERE [Tháng] = MONTH(GETDATE()) - 1
	GROUP BY [TENLOAIPHONG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_select_all]
AS
BEGIN
	SELECT * FROM [THỐNG KÊ]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_theo_loaiphong]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_theo_loaiphong]
AS
BEGIN
	SELECT [TENLOAIPHONG], SUM([TONGTIEN]) AS [TONGTIEN]
	FROM v_thongke_loaiphong
	WHERE [Tháng] = MONTH(GETDATE())
	GROUP BY [TENLOAIPHONG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_theo_thang]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_theo_thang]
AS
BEGIN
	SELECT CAST([Tháng] as nvarchar(10)) as [Tháng], SUM([TONGTIEN]) AS [TONGTIEN]
	FROM v_thongke_thang_nam 
	WHERE [Năm] = YEAR(GETDATE())
	GROUP BY [Tháng]
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_theo_thangtruoc]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_theo_thangtruoc]
AS
BEGIN
	SELECT (N'Tháng ' + CAST([Tháng thanh toán] as nvarchar(10))) as [Tháng], SUM([TONGTIEN]) AS [TONGTIEN]
	FROM v_thongke_thang_nam 
	WHERE [Năm] = YEAR(GETDATE())-1
	GROUP BY [Tháng thanh toán]
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_timphong_dalappt]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_timphong_dalappt]
AS
BEGIN
SELECT * FROM v_timphong
END
GO
/****** Object:  StoredProcedure [dbo].[sp_timphong_dangcho]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_timphong_dangcho]
AS
BEGIN
SELECT * FROM v_timphong
Where [TINHTRANG] = 'Đang chờ'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_timphong_danhan]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_timphong_danhan]
AS
BEGIN
SELECT * FROM v_timphong
Where [TINHTRANG] = 'Đã nhận'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tinhtien_hoadon]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_tinhtien_hoadon]
@mahd varchar(10)
AS
BEGIN
	SELECT [MAHOADON], PT.[MAPHIEUTHUE], DP.[MAKHACHHANG], KH.[TENKHACHHANG], NV.[TENNHANVIEN], DP.[NGAYDEN],
	DP.[NGAYDI],[dbo].[f_test]([NGAYDEN], [NGAYDI]) AS [Số Ngày], LP.[TENLOAIPHONG], LP.[GIAPHONG], 
	[dbo].[f_test]([NGAYDEN], [NGAYDI]) * [GIAPHONG] AS [Tiền Phòng],
	CTTp.[MADICHVU], DV.[TENDICHVU], DV.[GIADICHVU], CTTP.[SOLUOTSUDUNG], 
	[SOLUOTSUDUNG] * [GIADICHVU] AS [Tiền Dịch Vụ],
	([dbo].[f_test]([NGAYDEN], [NGAYDI]) * [GIAPHONG]) + ([SOLUOTSUDUNG] * [GIADICHVU]) AS [Tổng Tiền HD],

	DP.[SOTREEM]

	FROM [HÓA ĐƠN] HD, [CHI TIẾT THUÊ PHÒNG] CTTP,[KHÁCH HÀNG] KH, [PHIẾU THUÊ PHÒNG]PT,[PHIẾU ĐẶT PHÒNG] DP, 
	[TÀI KHOẢN HỆ THỐNG]TK,[NHÂN VIÊN] NV, [DỊCH VỤ] DV, [LOẠI PHÒNG] LP, [PHÒNG] P, [CHI TIẾT ĐẶT PHÒNG] CTDP

	WHERE HD.[MAPHIEUTHUE] = CTTP.[MAPHIEUTHUE]
	AND  PT.[MAPHIEUTHUE] = CTTP.[MAPHIEUTHUE]
	AND PT.[MAPHIEUDAT] = DP.[MAPHIEUDAT]
	AND NV.[MANHANVIEN] = TK.[MANHANVIEN]
	AND TK.[TENDANGNHAP] = DP.[TENDANGNHAP]
	AND KH.[MAKHACHHANG] = DP.[MAKHACHHANG]
	AND DV.[MADICHVU] = CTTP.[MADICHVU]
	AND P.[MAPHONG] = CTDP.[MAPHONG]
	AND CTDP.[MAPHIEUDAT] = DP.[MAPHIEUDAT]
	AND P.[MALOAIPHONG] = LP.[MALOAIPHONG]
	AND HD.[MAHOADON] = @mahd
END
GO
/****** Object:  StoredProcedure [dbo].[sp_trangthaiphong_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----delete

CREATE PROC [dbo].[sp_trangthaiphong_delete]
@maP varchar(10)
AS
BEGIN
	DELETE FROM [TRẠNG THÁI PHÒNG] WHERE [MAPHONG] = @maP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_trangthaiphong_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----insert

CREATE PROC [dbo].[sp_trangthaiphong_insert]
@maP varchar(10),
@trangthai nvarchar(10)
AS
BEGIN
	INSERT INTO [TRẠNG THÁI PHÒNG] ([MAPHONG], [TRANGTHAI])
	VALUES (@maP, @trangthai)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_trangthaiphong_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_trangthaiphong_select_all]
AS
BEGIN
	SELECT * FROM [TRẠNG THÁI PHÒNG]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_trangthaiphong_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_trangthaiphong_select_by_id]
@maP varchar(10)
AS
BEGIN
	SELECT * FROM  [TRẠNG THÁI PHÒNG]
	WHERE [MAPHONG] = @maP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_trangthaiphong_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_trangthaiphong_update]
@maP varchar(10),
@trangthai nvarchar(10)
AS
BEGIN
	UPDATE [TRẠNG THÁI PHÒNG] SET [TRANGTHAI] = @trangthai
	WHERE  [MAPHONG] = @maP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_vattu_delete]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_vattu_delete]
@maVT varchar(10)
AS
BEGIN
	DELETE FROM [VẬT TƯ] WHERE [MAVATTU] = @maVT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_vattu_insert]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----insert

CREATE PROC [dbo].[sp_vattu_insert]
@maVT varchar(10),
@tenVT nvarchar(50)
AS
BEGIN
	INSERT INTO [VẬT TƯ] ([MAVATTU], [TENVATTU])
	VALUES (@maVT, @tenVT)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_vattu_select_all]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_vattu_select_all]
AS
BEGIN
	SELECT * FROM [VẬT TƯ]
	ORDER BY [MAVATTU]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_vattu_select_by_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----select by id
CREATE PROC [dbo].[sp_vattu_select_by_id]
@maVT varchar(10)
AS
BEGIN
	SELECT * FROM  [VẬT TƯ]
	WHERE [MAVATTU] = @maVT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_vattu_select_only_id]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_vattu_select_only_id]
AS
BEGIN
	SELECT [MAVATTU] FROM [VẬT TƯ]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_vattu_update]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----update
CREATE PROC [dbo].[sp_vattu_update]
@maVT varchar(10),
@tenVT nvarchar(50)
AS
BEGIN
	UPDATE [VẬT TƯ] SET [TENVATTU] = @tenVT
	WHERE  [MAVATTU] = @maVT
END
GO
/****** Object:  StoredProcedure [dbo].[test]    Script Date: 07/17/2023 06:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[test]
@mahd varchar(10),
@songay int,
@sonam int
AS
BEGIN
	SELECT [MAHOADON], 
		PT.[MAPHIEUTHUE], 
		DP.[MAKHACHHANG], 
		KH.[TENKHACHHANG], 
		NV.[TENNHANVIEN], 
		DP.[NGAYDEN],
		DP.[NGAYDI], 
		@songay AS [Số Ngày], 
		@sonam AS [Số Năm],
		LP.[TENLOAIPHONG], 
		LP.[GIAPHONG], 
		@songay * [GIAPHONG] AS [Tiền Phòng],
		CTTp.[MADICHVU], 
		DV.[TENDICHVU], 
		DV.[GIADICHVU], 
		CTTP.[SOLUOTSUDUNG], 
		[SOLUOTSUDUNG] * [GIADICHVU] AS [Tiền Dịch Vụ],
		(@songay * [GIAPHONG]) + ([SOLUOTSUDUNG] * [GIADICHVU]) AS [Tổng Tiền HD]

	FROM [HÓA ĐƠN] HD, 
		[CHI TIẾT THUÊ PHÒNG] CTTP,
		[KHÁCH HÀNG] KH, 
		[PHIẾU THUÊ PHÒNG]PT,
		[PHIẾU ĐẶT PHÒNG] DP, 
		[TÀI KHOẢN HỆ THỐNG]TK,
		[NHÂN VIÊN] NV, 
		[DỊCH VỤ] DV, 
		[LOẠI PHÒNG] LP, 
		[PHÒNG] P, 
		[CHI TIẾT ĐẶT PHÒNG] CTDP

	WHERE HD.[MAPHIEUTHUE] = CTTP.[MAPHIEUTHUE]
		AND  PT.[MAPHIEUTHUE] = CTTP.[MAPHIEUTHUE]
		AND PT.[MAPHIEUDAT] = DP.[MAPHIEUDAT]
		AND NV.[MANHANVIEN] = TK.[MANHANVIEN]
		AND TK.[TENDANGNHAP] = DP.[TENDANGNHAP]
		AND KH.[MAKHACHHANG] = DP.[MAKHACHHANG]
		AND DV.[MADICHVU] = CTTP.[MADICHVU]
		AND P.[MAPHONG] = CTDP.[MAPHONG]
		AND CTDP.[MAPHIEUDAT] = DP.[MAPHIEUDAT]
		AND P.[MALOAIPHONG] = LP.[MALOAIPHONG]
		AND HD.[MAHOADON] = @mahd
		AND 
			(
			YEAR([NGAYDEN]) = YEAR([NGAYDI])
				AND 
				(
					@sonam = 0
					AND
					@songay = DATEPART(DAYOFYEAR, [NGAYDI]) - DATEPART(DAYOFYEAR, [NGAYDEN])
				)
			)	
			
END
GO
USE [master]
GO
